layout {
    pane split_direction="vertical" {
        pane edit="~/Documents/momenti-core"
        pane split_direction="horizontal" {
            pane edit="~/Documents/momenti-core" 
            pane
            
        }
    }
    pane size=1 borderless=true{
        plugin location="zellij:status-bar"
    }
}
