layout {
    pane split_direction="vertical" {
        pane edit="~/Documents/momenti-core" size="60%"
        pane split_direction="horizontal" size="40%" {
            pane edit="~/Documents/momenti-core" 
            pane
            
        }
    }
    pane size=1 borderless=true{
        plugin location="zellij:status-bar"
    }
}
